@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@angular/cdk/overlay-prebuilt.css';
/* You can add global styles to this file, and also import other style files */
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

cdk-dialog-container {
  background: transparent !important;
  padding: 0 !important;
}
