@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~highlight.js/scss/night-owl';
/* You can add global styles to this file, and also import other style files */
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

cdk-dialog-container {
  background: transparent !important;
  padding: 0 !important;
}

.hljs-title,
.hljs-keyword {
  font-style: normal;
}

.hljs-title {
  color: #d4d8db;
}

.hljs-keyword {
  color: #fbb1cb;
}

.hljs-string {
  color: #fedf93;
}

.hljs-meta {
  color: #9ab6e9;
}

.hljs-attr {
  color: #d4d8db;
}

.hljs-name {
  color: #fbb1cb;
}

.language-html .hljs-attr {
  color: #b992de;
}
