.dialog {
  @apply inline-block
  align-bottom
  bg-white
  rounded-lg
  px-4
  pt-5
  pb-4
  text-left
  overflow-hidden
  shadow-xl
  transform
  transition-all
  sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6;
}

.dialog-btn {
  @apply inline-flex
  justify-center
  w-full
  rounded-md
  border border-transparent
  shadow-sm
  px-4
  py-2
  bg-blue-600
  text-base
  font-medium
  text-white
  hover:bg-blue-700
  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500
  sm:text-sm;
}
