.dialog {
  @apply inline-block
  align-bottom
  bg-white
  rounded-lg
  px-4
  pt-5
  pb-4
  text-left
  overflow-hidden
  shadow-xl
  transform
  transition-all
  sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6;
}
