:host {
  @apply text-white
  flex
  gap-3
  items-center
  px-2
  py-2
  text-sm
  font-medium
  rounded-md
  hover:bg-blue-600 hover:bg-opacity-75
  focus:outline-none focus-visible:ring-2 focus-visible:ring-white;
  text-decoration: none;

  &.active {
    @apply bg-blue-800;
  }
}

.sidebar-item-icon {
  @apply flex-shrink-0 h-6 w-6 text-blue-300 mx-auto md:mx-0;
}
