:host {
  @apply inline-flex
  flex-col
  items-center
  bg-white
  rounded
  shadow-sm
  px-4
  py-6
  gap-2
  hover:scale-105
  transition-transform
  duration-150
  cursor-pointer
  focus-visible:outline-none
  focus-visible:ring-2
  focus-visible:ring-offset-2
  focus-visible:ring-blue-500;
}

.icon-card-label {
  @apply text-xs;
}
