:host {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  animation: navbar;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: background 0.25s ease-in-out, backdrop-filter 0.25s ease-in-out;

  &.blurred {
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.05);
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 10%) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    backdrop-filter: blur(50px);
    border-radius: 16px;
  }
}

.navbar-logo {
  cursor: pointer;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  margin: 0 auto;
  @apply container;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }

  &:last-of-type {
    margin-left: 0.5rem;
    font-size: 30px;
  }
}
@keyframes navbar {
  0% {
    opacity: 0;
    transform: scale(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
