name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  main:
    name: Nx Cloud - Main Job
    uses: nrwl/ci/.github/workflows/nx-cloud-main.yml@v0.11.3
    with:
      main-branch-name: master
      number-of-agents: 3
      init-commands: |
        pnpx nx-cloud start-ci-run --stop-agents-after="build" --agent-count=3
        pnpx nx generate @ng-icons/workspace-plugin:svg-to-ts
        pnpx nx generate @ng-icons/workspace-plugin:update-readmes
      parallel-commands: |
        pnpx nx-cloud record -- pnpx nx format:check
      parallel-commands-on-agents: |
        pnpx nx affected --target=lint --parallel=3
        pnpx nx affected --target=test --parallel=3 --ci --code-coverage
        pnpx nx affected --target=build --parallel=3

  agents:
    name: Nx Cloud - Agents
    uses: nrwl/ci/.github/workflows/nx-cloud-agents.yml@v0.11.3
    with:
      number-of-agents: 3
